go 1.24.2

use (
	genaiz
	genaiz-it
	genaiz-oauth
)

replace (
	"genaiz.com/genaiz-it@latest" => ./genaiz-it
	"genaiz.com/genaiz@latest" => ./genaiz
	"genaiz.com/genaiz-oauth@latest" => ./genaiz-oauth
)