go 1.25.0

use (
	genaiz
	genaiz-it
	genaiz-lib
	genaiz-oauth
)

replace (
	genaiz.com/genaiz-it@latest => ./genaiz-it
	genaiz.com/genaiz-lib@latest => ./genaiz-lib
	genaiz.com/genaiz-oauth@latest => ./genaiz-oauth
	genaiz.com/genaiz@latest => ./genaiz
)
