#!/bin/bash

trap "echo; echo Caught SIGINT signal; exit 1" INT
trap "echo; echo Caught SIGTERM signal; exit 1" TERM

echo
echo "============================================================="
echo "GenAIz Smart Function {{.InstanceName}} is starting up"
echo

echo " - Handle: {{.handle}}"
echo " - FQDN: {{.fqdn}}"
echo " - OEM: {{.oem}}"

if [ -n "$SF_VERSION" ]; then
  echo " - Version: $SF_VERSION"
fi

echo
echo "Smart Function Environment"
echo " - UID: $(id -u)"
echo " - Input Path: $SF_INPUT_PATH"
echo " - Output Path: $SF_OUTPUT_PATH"
echo " - Log Path: $SF_LOG_PATH"
echo " - Progress Var File: $SF_PROGRESS_FILE"
echo " - Result Var File: $SF_RESULT_FILE"
echo " - Status Var File: $SF_STATUS_FILE"

if [ -n "$SF_INPUT_PATH" ]; then
	echo
	echo "Input Files"
	ls -l "$SF_INPUT_PATH"

	if [ -n "$SF_OUTPUT_PATH" ]; then
		echo
		echo "Copying all files to the output directory"
		while IFS= read -r -d '' x
    do
      cp "$SF_INPUT_PATH/$x" "$SF_OUTPUT_PATH/$x"
    done <   <(find "$SF_INPUT_PATH" -maxdepth 1 -mindepth 1 -type f)
	fi
fi

if [ -n "$SF_LOG_PATH" ]; then
	echo
	echo "Logging current time within log/time.txt"
	date -Is > "$SF_LOG_PATH"/time.txt
	echo
	echo "Logging external IP within log/ip.txt (expect an error)"
	wget -q -O- https://ipecho.io/plain > "$SF_LOG_PATH"/ip.txt 2>&1
fi

if [ -n "$SF_PROGRESS_FILE" ]; then
	echo
	echo "20% complete"
	echo 20 > "$SF_PROGRESS_FILE"
fi

echo
echo "Executing work for 4 seconds..."
sleep 4s

if [ -n "$SF_PROGRESS_FILE" ]; then
	echo "50% complete"
	echo 50 > "$SF_PROGRESS_FILE"
fi

echo
echo "Executing more work for 4 seconds..."
sleep 4s

if [ -n "$SF_PROGRESS_FILE" ]; then
	echo "75% complete"
	echo 75 > "$SF_PROGRESS_FILE"
fi

if [ -n "$SF_RESULT_FILE" ]; then
	RESULT="branch1"
	echo
	echo "Result, useful for branching: $RESULT"
	echo "$RESULT" > "$SF_RESULT_FILE"
fi

echo
echo "Executing more work for 4 seconds..."
sleep 4s

if [ -n "$SF_PROGRESS_FILE" ]; then
	echo "100% complete"
	echo 100 > "$SF_PROGRESS_FILE"
fi

if [ -n "$SF_STATUS_FILE" ]; then
	echo "SUCCESS" > "$SF_STATUS_FILE"
fi

echo
echo "Smart Function is shutting down"
echo "============================================================="
echo
